<!-- home.html.erb -->
<%= provide(:body_class, "home") %>

<div class ="jumbotron m-5">
	<div class="text-center">
		<h1>Let's start studying together !</h1>
		<p>This is the home page for e-learnignsystem</p>
	</div>
</div>
<div class="row">
	<button type="button" class="btn btn-primary btn-lg mx-auto" style="width: 250px">Sign Up</button>	
</div>	
