<div class="container">
	<h1 class="text-center "><%= @title %></h1>
	<div class="row">
		<% @users.each do |user| %>
			<div class="card col-sm-6 my-4">
				<div class="card-body row">
					<div class="col-4">
						<%= user_image(user, class: "a-img") %> 
					</div>
					<div class="col-8">
						<h3><%= link_to user.name, user %></h3>
					</div>
				</div>
			</div>
		<% end %>	
	</div>

	<div class="paginate text-center">
		<%= paginate @users %>
	</div>
</div>