<div class="container">
	<h1 class="text-center ">Followers</h1>
	<div class="row">
		<% @follower_users.each do |follower| %>
			<div class="card col-sm-6 my-4">
				<div class="card-body row">
					<div class="col-4">
						<%= user_image(follower, class: "a-img") %> 
					</div>
					<div class="col-8">
						<h3><%= link_to follower.name, follower %></h3>
					</div>
				</div>
			</div>
		<% end %>	
	</div>

	<div class="paginate text-center">
		<%= paginate @follower_users %>
	</div>
</div>