<div class="container">
	<h1 class="text-center ">Following</h1>
	<div class="row">
		<% @following_users.each do |following| %>
			<div class="card col-sm-6 my-4">
				<div class="card-body row">
					<div class="col-4">
						<%= user_image(following, class: "a-img") %> 
					</div>
					<div class="col-8">
						<h3><%= link_to following.name, following %></h3>
					</div>
				</div>
			</div>
		<% end %>	
	</div>

	<div class="paginate text-center">
		<%= paginate @following_users %>
	</div>
</div>