<!-- index.html.erb -->
<!-- 
<div>
	

	<div class="col">

		<div class="row">
			<h2><%= @word.content %></h2>
		</div>

		<div class="row">
			<% @choices.each do |choice| %>
			<ul>
			    <li><%= button_to choice.content, lesson_answers_path(@lesson), params: {lesson_id: @lesson.id, word_id: @word.id, choice_id: choice.id}, class: 'btn btn-success btn-block' %></li>
			</ul>
			<% end %>
		</div>
			
	</div>

</div> -->