// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-green{
	color: green ;
	}

.fa-red{
	color: red;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
