// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home {
	background-image: url("sora_006.jpg");
	background-size: cover; 
	font-family: 'Josefin Sans', sans-serif;
}

div.jumbotron {
	opacity: 0.7; 
   background-color: #5b8cca;
   color: #fff;
}

button.btn-primary {
    color: #fff;
    background-color: #ffc169;
    border-color: #ffc169;
}

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background-color: #fff;
}


.box5 {
    padding: 0.5em 1em;
    margin: 4em 8em;
    border: double 5px #224c76;
    background-color: #fff;
}
.box5 p {
    margin: 0; 
    padding: 0;
}